<div class="modal-body">	
	<%= form_for @task do |f| %>
		<% if @task.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
	        <ul>
	          <% @task.errors.full_messages.each do |msg| %>
	              <li><%= msg %></li>
	          <% end %>
	        </ul>
	      </div>
	  <% end %>
	  
		<div class="form-group">
			<%= f.label :title %><br/>
			<%= f.text_field :title, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :description %><br/>
			<%= f.text_area :description, class: "form-control" %>
		</div>

		<div class="col-lg-6 col-md-6">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <%= f.text_field :start_date, class:"form-control" %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
		<div class="col-lg-6 col-md-6">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
            	
                <%= f.text_field :due_date, class:"form-control" %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

		<div class="form-inline">
			<div class="form-group">
				<%= f.label :finished %>
				<%= f.check_box :finished %>
			</div>
			<div class="form-group">
				<%= f.label :important %>
				<%= f.check_box :important %>
			</div>
			<div class="form-group">
				<%= f.label :starred %>
				<%= f.check_box :starred %>
			</div>
		</div>
		<div class="form-group">
			<%= f.text_field :all_tags, placeholder: "Tags separated with comma", class: "form-control" %>
		</div>
		<div class="text-center">
			<%= f.submit "Save", class:"btn btn-md btn-primary" %>
		</div>
  
	<% end %>
</div>
