<!DOCTYPE html>
<html>
  <head>
    <title>BoardsTodo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :modernizr %>
  </head>

  <body>
	  <%= render 'layouts/navigation' %>

		<div class="container-fluid">
			<div class="row">
            <% if user_signed_in? %>
      		    <div class="col-lg-2 col-md-2">
                <div class="text-center">
    			         <h1><%= link_to root_path do %><span class="fa fa-check-square"></span> To-Do<% end %></h1>
  	               <%= link_to 'New Task', new_task_path,  { class:"btn btn-md btn-primary vspace-top-25", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' }  %>
                </div>
              	<div class="row">
              		<div class="col-lg-12 col-md-12">
                    <div class="hspace-left-20">
                      <div class="vspace-top-25">
                  			<%= link_to root_path, class: "full-width-block" do %>
          	        			<span class="fa fa-align-justify" aria-hidden="true"></span> 
          	        			<span class="hspace-left-15">All Tasks</span>
                  			<% end %>
                      </div>
                			<p class="vspace-top-10 vspace-bottom-20">Filters</p>
                      <%= render 'layouts/filters' %>
                      <p class="vspace-top-10 vspace-bottom-20">Tags</p>
                      <ul class="filter-list">
                        <% Tag.all.each do |tag| %>
                        <li><%= link_to tag.name, tag_path(tag.name) %></li>
                        <% end %>
                      </ul>
                    </div>
              		</div>
              	</div>
        			</div>
            <% end %>
				<div class="col-lg-10 col-md-10">
					<%= yield %>
				</div>
			</div>
		</div>
    
  </body>
</html>
